<div class="card">
  <% if header_title %>
    <header class="card-header">
      <p class="card-header-title">
        <%= header_title %>
      </p>
    </header>
  <% end %>
  <div class="card-content">
    <p class="title is-4"><%= event.title %></p>
    <p class="subtitle is-6"><%= time_tag event.starts_at %></p>
  </div>
  <footer class="card-footer">
    <%= link_to 'More Info', group_event_path(event.group, event), class: 'card-footer-item' %>
    <% if @group.administered_by?(current_user) %>
      <%= link_to 'Manage Talks', manage_talks_group_event_path(event.group, event), class: 'card-footer-item' %>
    <% end %>
  </footer>
</div>
